* {
    margin: 0;
    padding: 0;
}

/* some common styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.main {
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 220px;

}

.header-left h1 {
    color: #131313;
    font-weight: 700;
    font-size: 40px;

}

.header-right ul {
    display: flex;
    list-style: none;
    column-gap: 60px;
    font-weight: 500;
    font-size: 18px;
    color: #424242;

}

.header-right ul a {
    text-decoration: none;
    color: #424242;

}

/* banner styles */

.banner-info {
    width: 900px;

    margin: auto;
}

.banner-info h1 {
    padding: 10px 10px;
    text-align: center;
    font-weight: 700;
}

.banner-info p {
    padding: 10px 20px;
    line-height: 23px;
}

.explore-btn {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 10px;

}

.primary-btn {
    width: 140px;
    height: 50px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border: none;


}

.banner-image {
    width: 900px;
    padding: 40px 0;
    margin: auto;
}

.banner-image img {
    width: 100%;
    height: 100%;
}

/* team section styles */


.team-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 40px 200px;


}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    width: 420px;


}

.team-image {
    width: 200px;
    height: 200px;
}

.team-image img {
    width: 100%;
    height: 100%;
}

.quick-list-part {
    /* width: 500px; */

}

.quick-list-part h1 {
    font-size: 30px;
    color: #131313;
    font-weight: 700;
}

#quick-style {
    color: #727272;
    font-weight: 500;
    font-size: 30px;
}

#feature {
    color: #FF900E;
    font-weight: 700;
    font-size: 30px;
}

.quick-list-part p {
    padding: 15px 0;
    line-height: 20px;
    color: #727272;
}

/* Feature section styles */
.feature-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    padding: 100px 160px;
    /* height: 100vh; */
    margin-bottom: 10px;


}

.feature-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 500px;
    height: 100vh;

}

.feature-title {
    color: #131313;
    font-size: 30px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 3px solid #FF900E;
}

.feature-container p {
    color: #727272;
    padding: 0;
    margin-top: 10px;
}

.feature-info {

    margin-top: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.feature-info h3 {
    font-weight: 600;
    font-size: 20px;

}

.feature-image {
    width: 500px;
    z-index: 1;
    position: relative;
    display: block;
}

.feature-image img {
    width: 100%;
    height: 100%;
}

.experience {
    background-color: #FF900E;
    width: 30%;
    padding: 20px;
    height: 60px;
    z-index: 2;
    position: absolute;
    left: -20px;
    top: 653px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;


}

.experience h1 {
    font-size: 30px;
    font-weight: 600;
}

.experience p {
    font-size: 18px;
    font-weight: 500;
}

/* some facts item styles */
.fact-section {
    margin-top: 100px;
}

.fact-description {
    margin-left: 80px;
}

.fact-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
    margin: auto;
    column-gap: 125px;
    justify-items: stretch;
    margin-top: 40px;
}

.fact-item {
    border: 1px solid #FF900E;
    width: 150px;
    height: 150px;
    text-align: center;
}

.fact-item p {

    margin-top: 3px;
}

.fact-icon {
    font-size: 40px;
    margin-top: 30px;
}

.fact-number {
    font-size: 30px;
}

.fact-item:hover {
    transform: rotate(3);
    transition: all 0.3;
}

/* sponspors section styles */

.sponspors-section {
    padding: 40px;
    margin: 40px 20px;
}

.sponspors-description {
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
    text-align: center;
}

.sponspors-description h1 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}

.sponspors-description p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.sponspors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.sponspors img {
    width: 60%;
}

/* contact section */
.contact-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 50px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 40px 100px;
}

.contact-option p {
    margin-top: 10px;
}

.contact-icon {
    color: #FF900E;
    padding: 10px;
    margin-top: 5px;
}

.massage-section div {
    margin-top: 10px;

}

input,
textarea {
    padding: 10px;
    width: 300px;
}

/* footer styles */
footer {

    text-align: center;
    height: 40px;
    background-color: #131313;
    color: #FFFFFF;

}

footer p {
    padding-top: 10px;
}










/* Responsive styles */

@media screen and (max-width:576px) {
    .header-section {
        flex-direction: column;
        padding: 10px 0;

    }

    .header-right ul {
        column-gap: 25px;
        padding: 10px 32px;
        flex-direction: column;
        row-gap: 10px;
    }

    .banner-info {
        width: 350px;

    }

    .banner-image {
        width: 300px;
    }

    .banner-info p {
        padding: 10px 0px;
    }

    .team-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        justify-items: center;
    }

    .team-images {
        grid-template-columns: repeat(1, 1fr);
        width: 320px;
        justify-items: center;
    }

    .team-image {
        width: 300px;
        height: 218px;
    }

    .quick-list-part {
        width: 350px;
        padding: 10px;
    }

    .quick-list-part p {
        padding: 0;
    }

    .primary-btn {
        margin-top: 10px;
    }

    .feature-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
        row-gap: 270px;
        margin-top: 30px;
    }

    .feature-container {
        padding-left: 10px;
        width: 330px;
        margin: auto;
    }

    .feature-image {
        width: 330px;
        margin: auto;
    }

    .experience {
        top: 400px;
        width: 40%;
        left: -12px;
    }

    .fact-description {
        margin-left: 15px;
    }

    .fact-items {
        grid-template-columns: repeat(1, 1fr);
        width: 0;
        margin: 20px 0;
        row-gap: 10px;



    }

    .fact-item {
        width: 350px;
        margin-left: 15px;
    }

    .sponspors-section {
        padding: 10px 10px;
    }

    .sponspors-description {
        width: 350px;
    }
    .sponspors{
        grid-template-columns: repeat(1,1fr);
        row-gap: 10px;
    }
    .contact-section{
        grid-template-columns: repeat(1,1fr);
        width: auto;
        padding: 20px 10px;
       
    }
}